@page "/Account/ConfirmLogout"
@using BlazorIdp.Models
@using Duende.IdentityServer
@using Duende.IdentityServer.Events
@using Duende.IdentityServer.Extensions
@using Duende.IdentityServer.Services
@using IdentityModel
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Identity

@inject IIdentityServerInteractionService Interaction;
@inject IEventService Events;
@inject SignInManager<ApplicationUser> SignInManager;
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm logout</PageTitle>

<div class="logout-page">
    <div class="lead">
        <h1>Logout</h1>
        <p>Would you like to logout of IdentityServer?</p>
    </div>
    <form method="post" action="Account/PerformLogout">
        <AntiforgeryToken/>
        <input type="hidden" name="logoutId" value="@LogoutId"/>
        <input type="hidden" name="returnUrl" value="@ReturnUrl"/>
        <button type="submit" name="choice" value="true" class="btn btn-primary">Yes</button>
        <button type="submit" name="choice" value="false" class="btn btn-danger">No</button>
    </form>
</div>

@code {

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery] private string? LogoutId { get; set; }

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    private async Task LogoutAsync()
    {
        if (HttpContext.User.Identity?.IsAuthenticated is true)
        {
            LogoutId ??= await Interaction.CreateLogoutContextAsync();

            await SignInManager.SignOutAsync();

            await Events.RaiseAsync(new UserLogoutSuccessEvent(HttpContext.User.GetSubjectId(), HttpContext.User.GetDisplayName()));

            var idp = HttpContext.User.FindFirst(JwtClaimTypes.IdentityProvider)?.Value;

            if (idp is not null and not IdentityServerConstants.LocalIdentityProvider)
            {
                if (await GetSchemeSupportsSignOutAsync(idp))
                {
                    var url = $"/Account/LoggedOut?logoutId={LogoutId}";
                    await HttpContext.SignOutAsync(idp, new AuthenticationProperties
                    {
                        RedirectUri = url
                    });
                }
            }
        }

        RedirectManager.RedirectTo("/Account/LoggedOut", new Dictionary<string, object?>([new KeyValuePair<string, object?>("logoutId", LogoutId)]));
    }

    private async Task<bool> GetSchemeSupportsSignOutAsync(string idp)
    {
        var provider = HttpContext.RequestServices.GetRequiredService<IAuthenticationHandlerProvider>();
        var handler = await provider.GetHandlerAsync(HttpContext, idp);
        return handler is IAuthenticationSignOutHandler;
    }

}